.container1{
	background-color: #e9f4e0;
	width: 500px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	margin: auto;
	border: 4px solid white;
	border-radius: 10px;
}

.form1{
	background-color: #ffe9f2;
	width: 500px;
	height: 500px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
	margin: auto;
	padding: 30px;
	border: 4px solid white;
	border-radius: 10px;
}

#submit{
	background-color: #e5f2e1;
	color: #dbabb6;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
	
}
label {
	font-weight: bold;
}

body {
	background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/65ddc922-3635-499d-a591-6a7c7e3bb411/dfekg9u-8466a422-ef66-4c15-a822-3f82e31b526b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY1ZGRjOTIyLTM2MzUtNDk5ZC1hNTkxLTZhN2M3ZTNiYjQxMVwvZGZla2c5dS04NDY2YTQyMi1lZjY2LTRjMTUtYTgyMi0zZjgyZTMxYjUyNmIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.wm_gSW-SzvRXhoUU1Z5vkjvHVI7v8kBRL4tu2v6JdrU');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}